$currentEmoji: NotoColorOreo !default;
$emoji-all: null !default;

@function collectMaps($maps...) {
  $collection: ();

  @each $map in $maps {
    $collection: map-merge($collection, $map);
  }
  @return $collection;
}